<h1>Price#show</h1>
<p>Find me in app/views/price/show.html.erb</p>

<% @data["uber"].each do |option| %>
<%= option["type"]  %> : <%= option["fare"]  %>
<br>
<br>
<% end %>

<% @data["lyft"].each do |option| %>
<%= option["type"]  %> : CA$<%= option["fare"]  %>
<br>
<br>
<% end %>
