<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hey <%= @user.first_name%>!</h1>
	<p>Here is your password reset link: <a href="<%= @reset_url %>"></p>
	<p>This is your password reset token: <%= @reset %></p>
	<br>
	<p>Thank you and have a great day</p>


</body>
</html>