<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hey <%= @user.first_name.upcase %>!</h1>
	<p>You just successfully reset your password!</p>
	<p>If this was an unauthorized reset, please email us and we will take the necessary steps to investigate this issue and get your account back. Password was reset on <%= @time %></p>
	<br>
	<p>Thank you and have a great day</p>

</body>
</html>