<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hey <%= @user.first_name.capitalize %>!</h1>
	<p>You made a password reset request on <%= @time %></p>
	<br>
	<p>Please follow the link to reset your password:</p>
	<p>www.scoopfare.com/resets/confirm?token=<%= @reset %></p>

	<p>Thank you and have a great day</p>


</body>
</html>
