<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hey <%= @user.first_name.capitalize %>!</h1>
	<p>You have successfully booked a ride from <%= @ride.start_address %> to <%= @ride.end_address %>.</p>
	<a href="<%= @url %>">Follow this link to log in</a>
	<br>
	<p>Thank you and have a great day</p>

</body>
</html>