<h1>Documentations#index</h1>
<p>Find me in app/views/documentations/index.html.erb</p>
<h2>data returned in the API</h2>
<ul>
	<li>Uber and Lyft API response compiled with type, distance, fare, currency, duration and ETA</li>
</ul>

<p>endpoint: GET/price/show?sl=43.6549496&amp;slon=-79.3759257&amp;el=43.6920997&amp;elon=-79.5402031</p>
<ul>
	<li>sl= start latitude, expects a float</li>
	<li>slon = start longitude, expects a float</li>
	<li>el = end latitude, expects a float</li>
	<li>elon = end longitude, expects a float</li>

</ul>


<h3>format; json</h3>

<ul>
	<li>Format of the response: api_data = {:uber => [], :lyft => []} </li>
	<li>Sample response: <p>{"uber":[{"type":"uberXL","distance":12.75,"fare":61,"currency":"CAD","duration":2460,"eta":300},{"type":"UberSELECT","distance":12.75,"fare":67,"currency":"CAD","duration":2460,"eta":300},{"type":"uberPOOL","distance":12.75,"fare":22,"currency":"CAD","duration":2460,"eta":300},{"type":"UberBLACK","distance":12.75,"fare":84,"currency":"CAD","duration":2460,"eta":300},{"type":"UberSUV","distance":12.75,"fare":97,"currency":"CAD","duration":2460,"eta":300},{"type":"uberX","distance":12.75,"fare":33,"currency":"CAD","duration":2460,"eta":300},{"type":"uberASSIST","distance":12.75,"fare":33,"currency":"CAD","duration":2460,"eta":660},{"type":"uberWAV","distance":12.75,"fare":33,"currency":"CAD","duration":2460,"eta":360},{"type":"TAXI","distance":12.75,"fare":"Metered","currency":"","duration":2460,"eta":120}],"lyft":[{"type":"Lyft Line","distance":13.45,"fare":25,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"},{"type":"Lyft","distance":13.45,"fare":36,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"},{"type":"Lyft Plus","distance":13.45,"fare":67,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"},{"type":"Lyft Premier","distance":13.45,"fare":73,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"},{"type":"Lyft Lux","distance":13.45,"fare":107,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"},{"type":"Lyft Lux SUV","distance":13.45,"fare":123,"currency":"CAD","duration":2750,"eta":"ETA Unavailable"}]}</p></li>
</ul>

<h4>Errors</h4>
<ul>
	<li>'INVALID PARAMS' would be in the response for Uber and Lyft json keys if your request raised an exception.</li>
</ul>
