<p>hi <%= @user.first_name.capitalize %></p>

<% if @match %>
	<p>You have authorized being matched with other users for pooling rides</p>
<% else %>
	<p>You have not authorized being matched with other users for pooling rides</p>
<% end %> 

<% if @user_rides %> 
	<% @user_rides.each do |ride| %> 
		<ul>
			<li>From: <%= ride.start_address %></li>
			<li>To: <%= ride.end_address %></li>
			<li>Date: <%= ride.created_at.strftime("%Y-%m-%d") %></li>
		</ul>
	<% end %> 
<% end %> 