<p>hi <%= @user.first_name.capitalize %></p>

<% if @user_favourite_rides %> 
	<% if show_start_favs(@user_favourite_rides) %> 
		<p>Favourite start locations</p>
		<% show_start_favs(@user_favourite_rides).each do |location| %> 
		 	<ul>
		 		
		 		<li><%= location %></li>
				
		 	</ul>	 
		<% end %> 
	<% end %> 
	<% if show_end_favs(@user_favourite_rides) %>
		<p>Favourite end locations</p>
		<% show_end_favs(@user_favourite_rides).each do |location| %>
		 	<ul>
		 		
		 		<li><%= location %></li>
				
		 	</ul>
		<% end %> 
	<% end %> 
	<% if show_ride_favs(@user_favourite_rides) %> 
		<p>Favourite rides locations</p>
		<% show_ride_favs(@user_favourite_rides).each do |location| %> 
		 	<ul>
		 		
		 		<li><%= location %></li>
				
		 	</ul>
		<% end %> 
	<% end %> 
<% else %>

Bad!
<% end %> 