<h1>Password Reset</h1>
<p>Please enter your email to recieve the link to reset your password</p>

<div class="newpassbox">
<%= form_for :reset, url: resets_path do |f| %> 
	<%= f.text_field :email, placeholder: "Your Email", class: 'resetemailField' %> 
	<%= f.submit 'Send reset link', class: 'submit' %> 
<% end %> 
</div>
