<div class="newpassbox">
	<%= form_for :reset, url: resets_path do |f| %>

		<h2>Password Reset</h2>

		<p>
			Please enter your email to recieve the link to reset your password
		</p>

		<%= f.label 'Email Address' %>
		<%= f.text_field :email, class: 'input-field' %>

		<%= f.submit 'Send reset link', class: 'submit' %>
	<% end %>
</div>
