<div class="about">

  <div class="about-description">

    <h1>The Scoop Fare Story</h1>
    <p>Hi! We are scoopr dare makers. Five of us collaborated and pitches in.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor</p>

  </div>


  <div class="about-main">

  <!-- About me Starts  -->

    <div class="about-me">

      <div class="about-me-img">

        <img src="https://media.licdn.com/dms/image/C4D03AQFEwM4w-RQWHw/profile-displayphoto-shrink_200_200/0?e=1533772800&v=beta&t=mehveETwNNs6OinD5TsnFBKYCl1R7GBX8WTdNC698TA" alt="">

      </div>

      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Hasan Naseem</h2>
          </div>

          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
          </div>

        </div>
        <div class="about-me-main">
          <p class="responsibility">Front-end Developer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">

      <div class="about-me-img">

        <img src="https://media.licdn.com/dms/image/C4D03AQFEwM4w-RQWHw/profile-displayphoto-shrink_200_200/0?e=1533772800&v=beta&t=mehveETwNNs6OinD5TsnFBKYCl1R7GBX8WTdNC698TA" alt="">

      </div>

      <div class="about-me-detail">

        <div class="about-me-header">
          <div class="name">
            <h2>Hasan Naseem</h2>
          </div>
          <div class="icons">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">

          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Front-end Developer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">

      <div class="about-me-img">

        <img src="https://media.licdn.com/dms/image/C4D03AQFEwM4w-RQWHw/profile-displayphoto-shrink_200_200/0?e=1533772800&v=beta&t=mehveETwNNs6OinD5TsnFBKYCl1R7GBX8WTdNC698TA" alt="">

      </div>

      <div class="about-me-detail">

        <div class="about-me-header">
          <div class="name">
            <h2>Hasan Naseem</h2>
          </div>
          <div class="icons">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aygVPniDBBdi_Tmeoet7pW0hO7u_5bkAQeH91UiGz6iklWKK3g" alt="">

          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Front-end Developer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>

  <!-- About me ends  -->


  </div>

</div>
