$primary-blue:   #071933;
$secondary-blue:  #0C2C5A;
$space-blue: rgba(255,255,255,0.15);
$accent-blue: #91C5FF;
$hover-blue: #759ECA;

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // background-image: image-url("dark_sky.jpeg");
  background: #EEE;

}

footer {
  background:$primary-blue;
  bottom: 0;
  color: $accent-blue;
  font-size: 0.70em;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100vh;
  width: 100%;


  h2 {
    text-transform: uppercase;
  }

  .icon_dude {
    margin: 5em;
    height: 200px;
    width: auto;
  }

  nav {
    background-color: $primary-blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;

    height: 3em;
    padding: 0.5em 0;

    .menulist {
      display: none;
      margin: 0;
      transition: .2s ease-in-out;

      a {
        color: #EEE;
        display: inline-block;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        list-style: none;
        margin: 0 0.5em;
        text-decoration: none;
        transition: all .5s ease-in-out;
      }

      a:hover {
        color: $accent-blue;
      }
    }

    .hamburger {

      // hamburger rotation animation

      .line {
        margin-bottom: 8px;
        background-color: $accent-blue;
        width: 50px;
        height: 5px;
        display: block;
        border-radius: 15%;
        transition: all .3s;
      }

      .line1:active {
        transform: rotate(270deg);
        opacity: 0;
        background-color: yellow;
        top: 5px;
      }

      .line2:active {
        transform: rotate(45deg);
        background-color: yellow;
      }

      .line3:active {
        transform: rotate(-45deg);
        background-color: yellow;
        top:-7px;
      }
  //
      #closebtn {
        position: absolute;
        text-decoration:none;
        left: 50px;
        font-size: 36px !important;
        margin-right: 50px;
        opacity: 1;
        color: #fff;
        cursor: pointer;
        transition:background-position .3s;
      }

    }

    #main {
      transition: margin-top .4s;
      text-align:center;
      margin:auto;
      padding: 16px;
      font-size:30px;
    }

  }


  form {
    background: $secondary-blue;
    margin: 0;
    padding: 40px;

    text-align: center;

    div {

      label {
        color: $space-blue;
        display: block;
        font-size: 1.75em;
        margin: 0 0 0.5em 0.5em;

        display: flex;
      }


      .input-field {
        background-color: $space-blue;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 100px;
        font-size: 1.25em;
      }



    }



    .submit {
      background: $accent-blue;
      border: none;
      border-radius: 4px;
      color: $secondary-blue;
      font-size: 3em;
    }

    .submit:hover {
      background-color: $hover-blue;
    }

  }

}

@media (max-device-width: 1024px) and (min-device-width: 426px)  {

    body {

      nav {

        font-size: 2em;

        .menulist {
          display: inline-block;

          a {
            padding: 0 0.75em;
            margin: 0;
          }
        }
      }

      form {

        div {

          label {
            font-size: 1em;
            margin-left: 1.5em;
          }


          .input-field {
            height: 40px;
          }

        }


      }
    }

}
