// Place all the styles related to the Google controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// loader

// Variables

$nav-blue:   #071933;
$main-blue:  #0C2C5A;
$space-blue: rgba(255,255,255,0.15);
$light-blue: #91C5FF;


.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .modal {
  display: block;
}

// form for starting location and end destination
.search-field {
  .location-start, .location-end {
    position: relative;
    margin-top: 20px;
  }

  .input-field {
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    position: relative;
    left: -65px;

  }

  .get-location-data {
    background: $light-blue;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: $main-blue;
    height: 100px;
    width: 15%;

    position: absolute;
    bottom: 1px;
    right: 20px;

    img {
      height: 50px;
      width: 50%;
    }
  }






}

#map {

  height: 45%;
  margin: 2em auto;
  padding: 1.5em 0;
  text-align: center;
  width: 80%;
}

.location-loader1 {
  display: none;
}

.location-loader2 {
  display: none;
}


// landing page message that is only present before a search query begins

.welcome-message {
  img {
    height: 100%;
    width: 100%;
    // background-image: image-url("map.svg");
    background-repeat: no-repeat;
  }

}
// only appear during an ajax call
  // results section to make each result into a cards that appear as a grid
  .result {
    padding: 1em;
    color: #DDD;
    margin-left: 225px;

    h3 {
      font-weight: 250;
      padding: 1em;
    }

    p {
      font-size: 0.75em;
    }
  }

  .uber_ride {
    border: 1px solid darkblue;
  }

  .lyft_ride {
    border: 1px solid pink;
  }

  // filters form section

  .filters {
    display: none;
    margin-left: 20px;
    width: 100px;

    padding: 5px 30px 30px;
  	background-color: #CCC;
  	border: 1px solid #DBE3E7;
  	border-radius: 3px;
    position: relative;
    top: 50%;
  }

  // hidden elements

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }


// #get-location-data {
//   width: 6%;
//   padding-bottom: 2.3em;
//   padding-top: 1.5em;
//
// }
//
// #get-location-data2 {
//   width: 6%;
//   padding-bottom: 2.3em;
//   padding-top: 1.5em;
// }


@media (min-device-width: 426px) and (max-device-width: 1024px) {

  body {

    .search-field {
      .location-start, .location-end {
        position: relative;
        margin-top: 20px;
      }

      .input-field {
        width: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        position: relative;
        left: -65px;

      }

      .get-location-data {
        background: $light-blue;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: $main-blue;
        height: 100px;
        width: 15%;

        position: absolute;
        bottom: 1px;
        right: 20px;

        img {
          height: 50px;
          width: 50%;
        }
      }

    }

  }
}
