// Place all the styles related to the Google controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// loader

// Variables

$primary-blue:   #071933;
$secondary-blue:  #0C2C5A;
$space-blue: rgba(255,255,255,0.15);
$accent-blue: #91C5FF;

// RIDE COLOURS

$lyft: #FF02BF;
$taxi: #EAB234;
$uber: #09091A;

// ERROR STATE COLOURS

$error: #D17D87;
$success: #7DD186;
$warning: #EFEF84;


.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .modal {
  display: block;
}

// form for starting location and end destination
.search-field {

  .input-field {
    width: 84%;
    border-radius: 10px;

  }

  .input-field, .get-location-data {
    vertical-align: middle;
  }

  .get-location-data {
    background: $accent-blue;
    border: none;
    border-radius: 10px;
    color: $secondary-blue;
    height: 100px;
    width: 15%;

    img {
      height: 100%;
      width: 50%;
    }
  }

  .submit {
    margin-top: 50px;
    height: 100px;
    font-size: 2.25em;
    width: 100%;
  }

}

.map-and-filter {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1em;
  margin: 1em;
}

// filters form section

.filters {
  display: none;

  form {
    padding: 0 0 1em;
    width: 100%;

    h2, h3, h5, label {
      margin: 0;
    }
    // "Filters"
    h2 {
      padding: 0.5em 0
    }
    // "Capacity"
    h3 {
      padding: 0.9em 0 0 0;
      color: #999;
    }
    // "2, 4, 6"
    h5 {
      padding-bottom: 1em;
    }
    label {
      display: inline-block;
      margin: 0.5em;
      color: #FFF;
      font-weight: 100;
      font-size: 1.2em;

      input {
        color: $accent-blue;
      }
    }

    .submit {
      font-size: 0.9em;
      padding: 0.5em 0.75em;
    }
  }
}


#map {

  height: 100%;
  width: 97%;
}

.location-loader1 {
  display: none;
}

.location-loader2 {
  display: none;
}


// landing page message that is only present before a search query begins

.welcome-message {
  img {
    height: 100%;
    width: 100%;
    // background-image: image-url("map.svg");
    background-repeat: no-repeat;
  }

}
// only appear during an ajax call
  // results section to make each result into a cards that appear as a grid
  .result {
    text-align: center;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    .single_result {
      background-color: #FFF;
      margin: 1em;
      padding: 1em;

      h3, p, #request {
        margin: 0;
      }

      h3 {
        color: #FFF;
        font-weight: 200;
        padding: 0.5em 0;
        display: inline-block;
        width: 50%;
      }

      p {
        padding: 0.5em 0;
      }

      .cost {
        font-size: 0.65em;
        border-bottom: 1px solid #EEE;
      }

      .eta {
        font-size: 0.4em;
      }

      #request {
        background-color: $accent-blue;
        color: $primary-blue;
        border: none;
        border-radius: 4px;
        font-size: 1.5em;
        padding: 0.5em;
        width: 80%;
      }

    }

    .uber_ride {

      h3 {
        background-color: $uber;
      }
    }

    .lyft_ride {

      h3 {
        background-color: $lyft;
      }
    }
  }



  // hidden elements

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }


// #get-location-data {
//   width: 6%;
//   padding-bottom: 2.3em;
//   padding-top: 1.5em;
//
// }
//
// #get-location-data2 {
//   width: 6%;
//   padding-bottom: 2.3em;
//   padding-top: 1.5em;
// }


@media (min-device-width: 426px) {

  body {

    .search-field {
      .location-start, .location-end, .submit {
        display: inline-block;
      }

      .input-field {
        width: 70%;
        height: 40px;

      }

      .get-location-data {
        background: $accent-blue;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: $secondary-blue;
        height: 40px;
        width: 15%;

        img {
          height: 100%;
          width: 50%;
        }
      }

      .submit {
        height: 2em;
        font-size: 1em;
        width: 10em;
      }

    }

  }

  .welcome-message {
    img {
      height: 100vh;
    }
  }

  //  form specifically for filters
  .filters {

    form {

    }

  }

  #map {
    height: 100%;
  }

  // display result cards in a grid

  .result {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto;
    grid-gap: 1em;
    width: 90%;
    margin-left: 2%;


    .single_result {
      margin: 0;

      h3 {
        font-size: 0.75em;
      }

      p {
        padding: 1em 0;
      }

      .cost {
        font-size: 0.8em;
      }

      .eta {
        font-size: 0.5em;
      }

      #request {
        font-size: 0.75em;
      }

    }

    .uber_ride {

    }

    .lyft_ride {

    }
  }

}
