// Place all the styles related to the Reset controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resetpasswordField {
	margin-top: 3%;
	padding-top: 0;
	font-size: 3em;
	width: 50%;
	padding: 1%;
}

.resetemailField {
	margin-top: 3%;
	padding-top: 0;
	font-size: 3em;
	width: 50%;
	padding: 1%;
}