// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_session {
  margin: 0 auto;
  text-align: center;
  height: 100%;


  p {
    margin: 0.5em;
    font-size: 0.75em;
  }

}
