// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Login form
.new_session {
  margin: 0 auto;
  text-align: center;
  /*height: 40%;*/

  p {
    margin: 0.5em;
    font-size: 0.75em;
  }

}
/*style for the login forms*/

.emailField {

	width: 50%;
	padding: 1%;
	font-size: 3em;
}

.passwordField {
	font-size: 3em;
	width: 50%;
	padding: 1%;
}




